.user-profile{
    align-items: center;
    display: flex;
    cursor: pointer;
}

.user-profile--reverse{
    flex-direction: row-reverse;
}

.user-profile--reverse .user-profile__title{
    margin-right: 1.6rem;
    margin-left: 1rem;

}
.user-profile__avatar{
    width: 4.8rem;
    height: 4.8rem;

}

.user-profile__title{
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 1.6rem;
    color:#c3c3c3;
}

.user-profile__title:hover{
    color:#fff;
}

