.nav-menu{
    margin-left: 3.7rem;
}

.nav-menu__item{
    display: inline;

}

.nav-menu__link{
    color:white;
    font-size: 1.3rem;
    padding: 3rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline-block;
}

.nav-menu__text{
    margin-left: 1.1rem;
    position: relative;
}

.nav-menu__text::before{
    background: white;
    bottom: -0.5rem;
    content: '';
    position: absolute;
    height:2px;
    width: 0;
    transition: 0.2s;

}

.nav-menu__link:hover .nav-menu__text::before{
    width: 100%;

}
.nav-menu__item.dropdown{
    display: none;
}
