
.nav-menu{
    margin-left: 3.7rem;
}

.nav-menu__item{
    display: inline;
    vertical-align: top;

}

.nav-menu__link,
.nav-submenu__link{
    color:white;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline-block;
}

.nav-menu__link{
    padding: 3rem 2rem;
}

.nav-submenu__link{
    padding: 1.6rem 2.0rem;
    margin-left: 1rem;
}
.nav-submenu__text{
    position: relative;
    margin-left: 1.2rem;
}
.nav-menu__text{
    margin-left: 1.1rem;
    position: relative;
}

.nav-menu__text::before,.nav-submenu__text::before {
    background: white;
    bottom: -0.5rem;
    content: '';
    position: absolute;
    height:2px;
    width: 0;
    transition: 0.2s;

}

.nav-menu__link:hover .nav-menu__text::before, .nav-submenu__link:hover .nav-submenu__text::before {
    width: 100%;

}
.nav-menu__item.dropdown{
    /*display: none;*/
    visibility: hidden;
}

.nav-menu__item.dropdown:hover .nav-submenu {
    display: block;
}
.nav-submenu{
    animation:showFade 0.5s; /* abrindo o submenu mais suave*/
    padding:0.4rem 0;
    background: #141414;
    border: 0.1rem solid #393939;
    border-radius: 0.5rem;
    margin-left: 7rem;
    margin-right: 2rem;
    position: relative;
    top:-2rem;
    display: none;
}
@media screen and (max-width:1024px) {
    .nav-menu__text{
        display: none;
    }
    .nav-menu__item.mobile-hidden{
        display: none;    
    }
    .nav-menu__item.dropdown{
        visibility: visible;
    }

    .nav-menu__link{
        font-size: 1.6rem;
        padding: 2.8rem 1.6rem;
    }
    .nav-menu{
        padding-bottom: 1rem;
        margin-left: 2.6rem;
    }
}